# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ruiso\ESTUDIOS\Kraken FOLDERS\Data-Tower-S1\Code\Python\Python_Data_Tower\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
